# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# IDE
.idea/
.vscode/

# Flutter plugins
.flutter-plugins
.flutter-plugins-dependencies

# Metadata
.metadata

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Optional
coverage/

.env
service-account-key.json